html {
  overflow-x: hidden;
}


.enrollment .fonty {
  font-family: Averta-bold;
}

.section-1 {
  background-color: rgb(0 114 161 / 5%);
  display: flex;
  align-items: center;
}


.enrollment .jj:hover {
  color: rgb(0 114 161) !important;
}

.enrollment h2 {
  font-size: 1.5rem;
  line-height: 2.5rem;
}

.enrollment h3 {
  font-size: 1.125rem;
  line-height: 1.75rem;
}


/* Header End */

/* section 1 */


.enrollment .intro-text {
  text-align: center;
  padding: 2rem 0 2rem 0;
  margin: auto;
  max-width: 600px;
}

.enrollment .intro-text p {
  color: rgb(0 114 161);
  font-size: 14px;
  line-height: 24px;
}

.enrollment .intro-text h2 {
  color: #514949;
  font-weight: 600;
  font-family: Averta-bold;
  font-size: 32px;
  line-height: 48px;
}

@media (max-width: 565px) {
  .enrollment .intro-text p {
    font-size: 12px;
  }

  .enrollment .intro-text h2 {
    font-size: 14px;
    line-height: 24px;
  }
}

/* section 2 */
.enrollment .section-2 {
  margin-top: 5rem;
  margin-bottom: 100px;
}

@media (max-width: 768px) {
  .enrollment .section-2 {
    margin-bottom: 95px;
  }
}

.enrollment .form-container {
  max-width: 950px;
  margin: auto;
}

.enrollment .form-group {
  margin: 2rem 0!important;
}



.enrollment .form-group input,
.enrollment .form-group select {
  border: 1px solid #0B0B10;
  border-radius: 0;
  padding: 1.4rem .5rem;
}


.enrollment .form-group label {
  margin-bottom: 1rem;
  font-size: 18px;
}

@media (max-width: 565px) {
  .enrollment .form-group label {
    font-size: 14px;
  }

  ::placeholder, .custom-select {
    font-size: 14px;
  }
}


/* select option */
.enrollment .select-box {
  display: flex;
  flex-direction: column;
}

.enrollment .select-box .options-container {
  color: #666666;
  max-height: 0;
  width: 100%;
  opacity: 0;
  transition: all 0.4s;
  overflow: hidden;
  border: 1px solid #0B0B10;

  order: 1;
}

.enrollment .selected {
  margin-bottom: 8px;
  color: #666666;
  position: relative;
  border: 1px solid #0B0B10;

  order: 0;
}

.enrollment .selected::after {
  content: "";
  background-size: contain;
  background-repeat: no-repeat;

  position: absolute;
  height: 15px;
  width: 15px;
  right: 3%;
  top: 40%;

  transition: all 0.4s;
}

.enrollment .select-box .options-container.active {
  max-height: 240px;
  opacity: 1;
  overflow-y: scroll;
}

.enrollment .select-box .options-container.active+.selected::after {
  transform: rotateX(180deg);
  top: 30%
}

.enrollment .select-box .option,
.selected {
  padding: .7rem;
  cursor: pointer;
}

.enrollment .options-container .option {
  padding: 0 .5rem;
}

.enrollment .select-box .option label {
  margin-bottom: 0;
  padding: .7rem .5rem;
}

.enrollment .select-box .option:hover {
  background: #666666;
  color: white;
}

.enrollment .select-box label {
  cursor: pointer;
}

.enrollment .select-box .option .radio {
  display: none;
}

/* radio button */
/* The container */
.enrollment.level {
  display: block;
  font-size: 1.1rem;
}

.enrollment .radios {
  padding-left: 30px;
  margin-left: 7%;
}

.enrollment.radio-container {
  display: inline-block;
  position: relative;
  padding-left: 2.5rem;
  margin-bottom: 0.75rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 1.1rem;
}

/* Hide the browser's default radio button */
.enrollment.radio-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.enrollment .checkmark {
  position: absolute;
  top: 6%;
  left: 0;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 2px solid rgb(0 114 161);
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.enrollment .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.enrollment.radio-container input:checked~.checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.enrollment.radio-container .checkmark:after {
  top: 4px;
  left: 4px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: rgb(0 114 161);
}

/* Form Button */
.enrollment .form-btn button {
  background-color: rgb(0 114 161);
  border: none;
  color: white;
  width: 152px;
  padding: .7rem;
  display: grid;
  place-content: center;
  position: relative;
  cursor: pointer;
  border: 1px solid rgb(0 114 161);
}

.enrollment .form-btn button:hover {
  background-color: white;
  color: rgb(0 114 161);
}


/* section 3 */
.enrollment .section-3 {
  margin-top: 6rem;
  margin-bottom: 6rem;
  padding: 5rem 0;
  text-align: center;
  background-size: cover;
}

.enrollment .section-3 h2 {
  color: white;
  font-size: 16px;
}

.enrollment .section-3 button {
  background-color: rgb(0 114 161);
  border: none;
  color: white;
  width: 152px;
  padding: .8rem;
}



@media screen and (min-width: 768px) {
.section-1 {
  min-height: 422px;
}

  .enrollment .intro-text {
      padding: auto 0 7rem 0;
  }

  .enrollment .intro-text h2 {
      font-size: 2rem;
      line-height: 3rem;
  }

  .enrollment .section-2 {
      margin-top: 6rem;
  }

  .enrollment .section-3 {
      margin: 10rem auto;
  }
}

.enrollment .container {
  max-width: 1238px !important;
  overflow: hidden !important;
  padding-left: 1.5rem !important;
  padding-right: 1.5rem !important;
}
.enrollment .form-control,
.enrollment .custom-select {
  height: 55px;
  border-radius: 0px;
  padding: 0 14.5px!important;

}




.enrollment .section-1 {
    padding-top: 3em;
    padding-bottom: 6em;
    min-height: 0;
}

.enrollment .intro-text {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.enrollment .section-2 {
  margin-bottom: 3rem !important;
}


.enrollment .radios {
  display: inline-block;
}

.enrollment .radios-first {
  margin-left: 0 !important;
}